mixin favoritesTab
    .x-container(v-show='menuActiveIndex === "favorite"')
        div(style='font-size: 13px; position: absolute; display: flex; right: 0; z-index: 1; margin-right: 15px')
            div(v-if='editFavoritesMode' style='display: inline-block; margin-right: 10px')
                el-button(size='small' @click='clearBulkFavoriteSelection') {{ $t('view.favorite.clear') }}
                el-button(size='small' @click='bulkCopyFavoriteSelection') {{ $t('view.favorite.copy') }}
                el-button(size='small' @click='showBulkUnfavoriteSelectionConfirm') {{ $t('view.favorite.bulk_unfavorite') }}
            div(style='display: flex; align-items: center; margin-right: 10px')
                span.name {{ $t('view.favorite.edit_mode') }}
                el-switch(v-model='editFavoritesMode' style='margin-left: 5px')
            el-tooltip(placement='bottom' :content='$t("view.favorite.refresh_tooltip")' :disabled='hideTooltips')
                el-button(
                    type='default'
                    :loading='API.isFavoriteLoading'
                    @click='API.refreshFavorites(); getLocalWorldFavorites()'
                    size='small'
                    icon='el-icon-refresh'
                    circle)
        el-tabs(type='card' v-loading='API.isFavoriteLoading' style='height: 100%')
            el-tab-pane(:label='$t("view.favorite.friends.header")' lazy)
                favorites-friend-tab(
                    :favorite-friends='favoriteFriends'
                    :sort-favorites.sync='sortFavorites'
                    :hide-tooltips='hideTooltips'
                    :grouped-by-group-key-favorite-friends='groupedByGroupKeyFavoriteFriends'
                    :edit-favorites-mode='editFavoritesMode'
                    @show-friend-import-dialog='showFriendImportDialog'
                    @save-sort-favorites-option='saveSortFavoritesOption'
                    @clear-favorite-group='clearFavoriteGroup'
                    @change-favorite-group-name='changeFavoriteGroupName')
            el-tab-pane(:label='$t("view.favorite.worlds.header")' lazy)
                favorites-world-tab(
                    @show-world-import-dialog='showWorldImportDialog'
                    @save-sort-favorites-option='saveSortFavoritesOption'
                    @show-world-dialog='showWorldDialog'
                    @change-favorite-group-name='changeFavoriteGroupName'
                    @clear-favorite-group='clearFavoriteGroup'
                    @new-instance-self-invite='newInstanceSelfInvite'
                    @show-favorite-dialog='showFavoriteDialog'
                    @refresh-local-world-favorite='refreshLocalWorldFavorites'
                    @delete-local-world-favorite-group='deleteLocalWorldFavoriteGroup'
                    @search-world-favorites='searchWorldFavorites'
                    @remove-local-world-favorite='removeLocalWorldFavorite'
                    :sort-favorites.sync='sortFavorites'
                    :world-favorite-search-results='worldFavoriteSearchResults'
                    :hide-tooltips='hideTooltips'
                    :favorite-worlds='favoriteWorlds'
                    :edit-favorites-mode='editFavoritesMode'
                    :shift-held='shiftHeld'
                    :refresh-local-world-favorites='refreshLocalWorldFavorites'
                    :local-world-favorite-groups='localWorldFavoriteGroups'
                    :local-world-favorites='localWorldFavorites')
            el-tab-pane(:label='$t("view.favorite.avatars.header")' lazy)
                favorites-avatar-tab(
                    :sort-favorites.sync='sortFavorites'
                    :hide-tooltips='hideTooltips'
                    :shift-held='shiftHeld'
                    :edit-favorites-mode='editFavoritesMode'
                    :avatar-history-array='avatarHistoryArray'
                    :refreshing-local-favorites='refreshingLocalFavorites'
                    :local-avatar-favorite-groups='localAvatarFavoriteGroups'
                    :local-avatar-favorites='localAvatarFavorites'
                    :favorite-avatars='favoriteAvatars'
                    @show-avatar-import-dialog='showAvatarImportDialog'
                    @save-sort-favorites-option='saveSortFavoritesOption'
                    @show-avatar-dialog='showAvatarDialog'
                    @show-favorite-dialog='showFavoriteDialog'
                    @remove-local-avatar-favorite='removeLocalAvatarFavorite'
                    @select-avatar-with-confirmation='selectAvatarWithConfirmation'
                    @prompt-clear-avatar-history='promptClearAvatarHistory'
                    @prompt-new-local-avatar-favorite-group='promptNewLocalAvatarFavoriteGroup'
                    @refresh-local-avatar-favorites='refreshLocalAvatarFavorites'
                    @prompt-local-avatar-favorite-group-rename='promptLocalAvatarFavoriteGroupRename'
                    @prompt-local-avatar-favorite-group-delete='promptLocalAvatarFavoriteGroupDelete')
