mixin favoritesDialog
    favorite-dialog(
        :favorite-dialog.sync='favoriteDialog'
        :local-avatar-favorite-groups='localAvatarFavoriteGroups'
        :local-world-favorite-groups='localWorldFavoriteGroups'
        :has-local-world-favorite='hasLocalWorldFavorite'
        :get-local-world-favorite-group-length='getLocalWorldFavoriteGroupLength'
        :has-local-avatar-favorite='hasLocalAvatarFavorite'
        :get-local-avatar-favorite-group-length='getLocalAvatarFavoriteGroupLength'
        @add-local-world-favorite='addLocalWorldFavorite'
        @remove-local-world-favorite='removeLocalWorldFavorite'
        @add-local-avatar-favorite='addLocalAvatarFavorite'
        @remove-local-avatar-favorite='removeLocalAvatarFavorite'
        @delete-favorite-no-confirm='deleteFavoriteNoConfirm')

    export-friends-list-dialog(
        :friends='friends'
        :is-export-friends-list-dialog-visible.sync='isExportFriendsListDialogVisible')

    export-avatars-list-dialog(:is-export-avatars-list-dialog-visible.sync='isExportAvatarsListDialogVisible')
