mixin previousInstances
    previous-instances-user-dialog(
        :previous-instances-user-dialog.sync='previousInstancesUserDialog'
        :shift-held='shiftHeld')

    previous-instances-world-dialog(
        :previous-instances-world-dialog.sync='previousInstancesWorldDialog'
        :shift-held='shiftHeld')

    previous-instances-info-dialog(
        :visible.sync='previousInstancesInfoDialogVisible'
        :instance-id='previousInstancesInfoDialogInstanceId'
        :game-log-is-friend='gameLogIsFriend'
        :game-log-is-favorite='gameLogIsFavorite'
        :lookup-user='lookupUser'
        :is-dark-mode='isDarkMode')
