mixin worldDialog
    world-dialog(
        :world-dialog='worldDialog'
        :hide-tooltips='hideTooltips'
        :is-game-running='isGameRunning'
        :last-location='lastLocation'
        :instance-join-history='instanceJoinHistory'
        :update-instance-info='updateInstanceInfo'
        :is-age-gated-instances-visible='isAgeGatedInstancesVisible'
        @open-folder-generic='openFolderGeneric'
        @delete-vrchat-cache='deleteVRChatCache'
        @world-dialog-command='worldDialogCommand'
        @refresh-instance-player-count='refreshInstancePlayerCount'
        @show-previous-instances-world-dialog='showPreviousInstancesWorldDialog'
        @download-and-save-json='downloadAndSaveJson')