mixin dialogs
    //- previous instances
    PreviousInstancesInfoDialog(
        :gameLogIsFriend='gameLogIsFriend'
        :gameLogIsFavorite='gameLogIsFavorite')

    //- favorites
    FriendImportDialog
    WorldImportDialog
    AvatarImportDialog

    //- favorites dialog
    ChooseFavoriteGroupDialog

    //- launch
    LaunchDialog

    UserDialog(
        :updateInstanceInfo='updateInstanceInfo'
        :userOnlineFor='userOnlineFor'
        :updateInGameGroupOrder='updateInGameGroupOrder'
        :inGameGroupOrder='inGameGroupOrder'
        :shiftHeld='shiftHeld'
        @logout='logout'
        @setGroupVisibility='setGroupVisibility'
        @leaveGroupPrompt='leaveGroupPrompt')

    WorldDialog(
        :shiftHeld='shiftHeld'
        :updateInstanceInfo='updateInstanceInfo'
        @openFolderGeneric='openFolderGeneric')

    GroupDialog(
        :updateInstanceInfo='updateInstanceInfo'
        :isGroupGalleryLoading='isGroupGalleryLoading'
        @updateGroupPostSearch='updateGroupPostSearch'
        @groupDialogCommand='groupDialogCommand')

    AvatarDialog(
        @openFolderGeneric='openFolderGeneric')

    FullscreenImageDialog(:fullscreenImageDialog='fullscreenImageDialog')

    LaunchOptionsDialog

    EditInviteMessageDialog

    VRChatConfigDialog(
        :isVRChatConfigDialogVisible.sync='isVRChatConfigDialogVisible'
        :folderSelectorDialog='folderSelectorDialog')

    PrimaryPasswordDialog
