mixin dialogs
    //- previous instances
    PreviousInstancesInfoDialog(
        :visible.sync='previousInstancesInfoDialogVisible'
        :instanceId='previousInstancesInfoDialogInstanceId'
        :gameLogIsFriend='gameLogIsFriend'
        :gameLogIsFavorite='gameLogIsFavorite'
        :lookupUser='lookupUser')

    //- favorites
    FriendImportDialog
    WorldImportDialog
    AvatarImportDialog

    //- favorites dialog
    ChooseFavoriteGroupDialog

    //- launch
    LaunchDialog(
        :inviteMessageTable='inviteMessageTable'
        :uploadImage='uploadImage')

    UserDialog(
        :languageDialog='languageDialog'
        :lastLocationDestination='lastLocationDestination'
        :isGameRunning='isGameRunning'
        :updateInstanceInfo='updateInstanceInfo'
        :userOnlineFor='userOnlineFor'
        :userDialogWorldSortingOptions='userDialogWorldSortingOptions'
        :userDialogWorldOrderOptions='userDialogWorldOrderOptions'
        :friendLogTable='friendLogTable'
        :lookupAvatars='lookupAvatars'
        :updateInGameGroupOrder='updateInGameGroupOrder'
        :inviteMessageTable='inviteMessageTable'
        :uploadImage='uploadImage'
        :inviteRequestMessageTable='inviteRequestMessageTable'
        :inGameGroupOrder='inGameGroupOrder'
        :shiftHeld='shiftHeld'
        :galleryDialogVisible='galleryDialogVisible'
        :galleryDialogGalleryLoading='galleryDialogGalleryLoading'
        :galleryDialogIconsLoading='galleryDialogIconsLoading'
        :galleryDialogEmojisLoading='galleryDialogEmojisLoading'
        :galleryDialogStickersLoading='galleryDialogStickersLoading'
        :galleryDialogPrintsLoading='galleryDialogPrintsLoading'
        :galleryDialogInventoryLoading='galleryDialogInventoryLoading'
        :galleryTable='galleryTable'
        :VRCPlusIconsTable='VRCPlusIconsTable'
        :emojiTable='emojiTable'
        :stickerTable='stickerTable'
        :printUploadNote='printUploadNote'
        :printCropBorder='printCropBorder'
        :printTable='printTable'
        :inventoryTable='inventoryTable'
        @refreshGalleryTable='refreshGalleryTable'
        @refreshEmojiTable='refreshEmojiTable'
        @refreshStickerTable='refreshStickerTable'
        @refreshVRCPlusIconsTable='refreshVRCPlusIconsTable'
        @refreshPrintTable='refreshPrintTable'
        @sortUserDialogAvatars='sortUserDialogAvatars'
        @logout='logout'
        @showAvatarAuthorDialog='showAvatarAuthorDialog'
        @showGalleryDialog='showGalleryDialog'
        @refreshUserDialogAvatars='refreshUserDialogAvatars'
        @refreshUserDialogTreeData='refreshUserDialogTreeData'
        @setGroupVisibility='setGroupVisibility'
        @leaveGroupPrompt='leaveGroupPrompt'
        @closeGalleryDialog='galleryDialogVisible = false')

    WorldDialog(
        :shiftHeld='shiftHeld'
        :isGameRunning='isGameRunning'
        :instanceJoinHistory='instanceJoinHistory'
        :updateInstanceInfo='updateInstanceInfo'
        :createNewInstance='createNewInstance'
        :instanceContentSettings='instanceContentSettings'
        :inviteMessageTable='inviteMessageTable'
        :uploadImage='uploadImage'
        @openFolderGeneric='openFolderGeneric'
        @deleteVRChatCache='deleteVRChatCache'
        @worldDialogCommand='worldDialogCommand')

    GroupDialog(
        :updateInstanceInfo='updateInstanceInfo'
        :groupDialogSortingOptions='groupDialogSortingOptions'
        :groupDialogFilterOptions='groupDialogFilterOptions'
        :isGroupGalleryLoading='isGroupGalleryLoading'
        @updateGroupPostSearch='updateGroupPostSearch'
        @groupDialogCommand='groupDialogCommand')

    AvatarDialog(
        :isGameRunning='isGameRunning'
        @openFolderGeneric='openFolderGeneric'
        @deleteVRChatCache='deleteVRChatCache')

    FullscreenImageDialog(:fullscreenImageDialog='fullscreenImageDialog')

    LaunchOptionsDialog

    EditInviteMessageDialog(:editInviteMessageDialog.sync='editInviteMessageDialog')

    VRChatConfigDialog(
        :isVRChatConfigDialogVisible.sync='isVRChatConfigDialogVisible'
        :VRChatUsedCacheSize='VRChatUsedCacheSize'
        :VRChatTotalCacheSize='VRChatTotalCacheSize'
        :VRChatCacheSizeLoading='VRChatCacheSizeLoading'
        :folderSelectorDialog='folderSelectorDialog'
        @getVRChatCacheSize='getVRChatCacheSize'
        @sweepVRChatCache='sweepVRChatCache')

    PrimaryPasswordDialog(
        :enablePrimaryPasswordDialog.sync='enablePrimaryPasswordDialog'
        @setPrimaryPassword='setPrimaryPassword')
