mixin dialogs
    //- previous instances
    PreviousInstancesInfoDialog(
        :gameLogIsFriend='gameLogIsFriend'
        :gameLogIsFavorite='gameLogIsFavorite')

    //- favorites
    FriendImportDialog
    WorldImportDialog
    AvatarImportDialog

    //- favorites dialog
    ChooseFavoriteGroupDialog

    //- launch
    LaunchDialog

    UserDialog(
        :languageDialog='languageDialog'
        :lastLocationDestination='lastLocationDestination'
        :isGameRunning='isGameRunning'
        :updateInstanceInfo='updateInstanceInfo'
        :userOnlineFor='userOnlineFor'
        :lookupAvatars='lookupAvatars'
        :updateInGameGroupOrder='updateInGameGroupOrder'
        :inGameGroupOrder='inGameGroupOrder'
        :shiftHeld='shiftHeld'
        @logout='logout'
        @showAvatarAuthorDialog='showAvatarAuthorDialog'
        @setGroupVisibility='setGroupVisibility'
        @leaveGroupPrompt='leaveGroupPrompt')

    WorldDialog(
        :shiftHeld='shiftHeld'
        :isGameRunning='isGameRunning'
        :instanceJoinHistory='instanceJoinHistory'
        :updateInstanceInfo='updateInstanceInfo'
        @openFolderGeneric='openFolderGeneric'
        @deleteVRChatCache='deleteVRChatCache')

    GroupDialog(
        :updateInstanceInfo='updateInstanceInfo'
        :isGroupGalleryLoading='isGroupGalleryLoading'
        @updateGroupPostSearch='updateGroupPostSearch'
        @groupDialogCommand='groupDialogCommand')

    AvatarDialog(
        :isGameRunning='isGameRunning'
        @openFolderGeneric='openFolderGeneric'
        @deleteVRChatCache='deleteVRChatCache')

    FullscreenImageDialog(:fullscreenImageDialog='fullscreenImageDialog')

    LaunchOptionsDialog

    EditInviteMessageDialog

    VRChatConfigDialog(
        :isVRChatConfigDialogVisible.sync='isVRChatConfigDialogVisible'
        :VRChatUsedCacheSize='VRChatUsedCacheSize'
        :VRChatTotalCacheSize='VRChatTotalCacheSize'
        :VRChatCacheSizeLoading='VRChatCacheSizeLoading'
        :folderSelectorDialog='folderSelectorDialog'
        @getVRChatCacheSize='getVRChatCacheSize'
        @sweepVRChatCache='sweepVRChatCache')

    PrimaryPasswordDialog(
        :enablePrimaryPasswordDialog.sync='enablePrimaryPasswordDialog'
        @setPrimaryPassword='setPrimaryPassword')
