mixin dialogs
    //- previous instances
    PreviousInstancesInfoDialog(
        :gameLogIsFriend='gameLogIsFriend'
        :gameLogIsFavorite='gameLogIsFavorite')

    //- favorites
    FriendImportDialog
    WorldImportDialog
    AvatarImportDialog

    //- favorites dialog
    ChooseFavoriteGroupDialog

    //- launch
    LaunchDialog

    UserDialog(
        :userOnlineFor='userOnlineFor'
        @logout='logout'
        @setGroupVisibility='setGroupVisibility'
        @leaveGroupPrompt='leaveGroupPrompt')

    WorldDialog

    GroupDialog(
        :isGroupGalleryLoading='isGroupGalleryLoading'
        @updateGroupPostSearch='updateGroupPostSearch'
        @groupDialogCommand='groupDialogCommand')

    AvatarDialog

    FullscreenImageDialog(:fullscreenImageDialog='fullscreenImageDialog')

    LaunchOptionsDialog

    EditInviteMessageDialog

    VRChatConfigDialog(
        :isVRChatConfigDialogVisible.sync='isVRChatConfigDialogVisible')

    PrimaryPasswordDialog
