mixin dialogs
    //- previous instances
    PreviousInstancesInfoDialog(:gameLogIsFriend='gameLogIsFriend' :gameLogIsFavorite='gameLogIsFavorite')

    //- favorites
    FriendImportDialog
    WorldImportDialog
    AvatarImportDialog

    //- favorites dialog
    ChooseFavoriteGroupDialog

    //- launch
    LaunchDialog

    UserDialog(@logout='logout' @setGroupVisibility='setGroupVisibility')

    WorldDialog

    GroupDialog(
        :isGroupGalleryLoading='isGroupGalleryLoading'
        @updateGroupPostSearch='updateGroupPostSearch'
        @groupDialogCommand='groupDialogCommand')

    AvatarDialog

    FullscreenImageDialog

    LaunchOptionsDialog

    EditInviteMessageDialog

    VRChatConfigDialog

    PrimaryPasswordDialog
