doctype html
#x-app.x-app(@dragenter.prevent @dragover.prevent @drop.prevent)
    //- ### Login ###
    LoginPage(v-if="!API.isLoggedIn" v-bind="loginPageBind" v-on="loginPageEvent")

    VRCXUpdateDialog

    template(v-if='API.isLoggedIn')
        //- ### Menu ###
        NavMenu(ref='menu' @select='selectMenu' :menu-active-index='menuActiveIndex')

        //- ### Sidebar ###
        Sidebar(v-bind='sidebarTabBind' v-on='sidebarTabEvent')

        //- ### Tabs ###
        FeedTab(v-bind='feedTabBind' v-on='feedTabEvent')

        GameLogTab(v-bind='gameLogTabBind' v-on='gameLogTabEvent')

        PlayerListTab(v-bind='playerListTabBind' v-on='playerListTabEvent')

        SearchTab(v-bind='searchTabBind' v-on='searchTabEvent')

        FavoritesTab(v-bind='favoritesTabBind' v-on='favoritesTabEvent')

        FriendLogTab(v-bind='friendLogTabBind')

        ModerationTab(v-bind='moderationTabBind')

        NotificationTab(v-bind='notificationTabBind' v-on='notificationTabEvent')

        FriendListTab(v-bind='friendsListTabBind' v-on='friendsListTabEvent')

        ChartsTab(v-bind='chartsTabBind' v-on='chartsTabEvent')

        ProfileTab(v-bind='profileTabBind' v-on='profileTabEvent')

        SettingsTab(v-bind='settingsTabBind' v-on='settingsTabEvent')

        //- ## Dialogs ## -\\
        include mixins/dialogs
        +dialogs

        //- el-dialog.x-dialog(:before-close="beforeDialogClose" @mousedown.native="dialogMouseDown" @mouseup.native="dialogMouseUp" ref="templateDialog" :visible.sync="templateDialog.visible" :title="$t('dialog.template_dialog.header')" width="450px")
