doctype html
#x-app.x-app(@dragenter.prevent @dragover.prevent @drop.prevent)
    //- ### Login ###
    LoginPage(v-if="!API.isLoggedIn" v-bind="loginPageBind" v-on="loginPageEvent")

    VRCXUpdateDialog

    template(v-if='API.isLoggedIn')
        //- ### Menu ###
        NavMenu(ref='menu')

        //- ### Sidebar ###
        Sidebar(v-bind='sidebarTabBind')

        //- ### Tabs ###
        FeedTab

        GameLogTab(v-bind='gameLogTabBind' v-on='gameLogTabEvent')

        PlayerListTab(v-bind='playerListTabBind' v-on='playerListTabEvent')

        SearchTab

        FavoritesTab

        FriendLogTab

        ModerationTab

        NotificationTab

        FriendListTab

        ChartsTab

        ProfileTab(v-on='profileTabEvent')

        SettingsTab(v-on='settingsTabEvent')

        //- ## Dialogs ## -\\
        PreviousInstancesInfoDialog(:gameLogIsFriend='gameLogIsFriend' :gameLogIsFavorite='gameLogIsFavorite')

        FriendImportDialog

        WorldImportDialog

        AvatarImportDialog

        ChooseFavoriteGroupDialog

        LaunchDialog

        UserDialog(@logout='logout')

        WorldDialog

        GroupDialog

        AvatarDialog

        FullscreenImageDialog

        LaunchOptionsDialog

        EditInviteMessageDialog

        VRChatConfigDialog

        PrimaryPasswordDialog
